
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.jumbotron {
  background-image: url(../images/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}